* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-image: url('galaxy.jpg');
    background-repeat: no-repeat;
    background-size: cover;


}
/* glass effect */
.comment-glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.post-glass {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* navbar */

.nav ul li {
    
    font-weight: 300;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.nav ul li a {
    
    font-weight: 300;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.nav {
    
    justify-content: flex-end;
    align-items: center;
    padding: 10px 3%;
    color: white;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.nav_right {
    padding: 20px;
    display: flex;
    float: right;
    list-style: none;
}

.nav_left {
    padding: 20px;
    display: flex;
    float: left;
    list-style: none;
}

.nav_right li {
    padding: 0px 10px;
    color: white;
}

.nav_right li a {
    transition: all 0.3s ease 0s;
}


/* post */

.post {
    width: 100%;
    display: flex;
    justify-content: center;
}
.post .containor {
    display: flex;
}
.post .containor .content {
    width: 1100px;
}
.post-header {
    margin-bottom: 64px;
}
.post-header_category {
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    color: blue;
    margin-bottom: 10px;
}
.post-header_title {
    font-size: 42px;
    margin-bottom: 16px;
    color: white;
}
.post-header_info {
    display: flex;
    list-style: none;
    color: white;
}
.post-header_info li{
    display: flex;
    align-items: center;
    margin-right: 24px;
}
.featured-image {
    width: 100%;
    height: 510px;
    overflow: hidden;
    margin-bottom: 64px;
    border-radius: 8px;
}
.featured-image img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-content {
    padding: 64px 96px;
    background-color: white;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 4px rgb(84, 81, 81))
}
.post-content h2,
.post-content p,
.post-content ul,
.post-content blockquote{
    margin-bottom: 32px;
}
.post-content h2{
    font-size: 24px;
}
.post-content p{
    line-height: 150%;
    font-size: 20px;
}
.post-content .image{
    width: 100%;
    height: 220px;
    display: flex;
    margin-bottom: 32px;
    gap: 32px
}
.post-content .image_item {
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}
.post-content .image img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* comment */

.comment {
    border-top: 1px solid cornsilk;
    padding-top: 32px;
    color: white;
}
.comment .comment_title {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}
.comment .comment_item {
    display: flex;
    margin-bottom: 32px;
}
.comment .comment_item ul {
    list-style: none;
}
.comment .comment_item .user_top {
    display: flex;
    align-items: center;
    line-height: 150%;
    margin-bottom: 8px;
}
.comment .comment_item .user_top .user_avatar {
    margin-right: 16px
}
.comment .comment_item .user_comment {
    line-height: 150%;
    color: white;
}

.comment-content textarea {
    width: 100%;
    height: 6.25em;
    border: none;
    resize: none;
    background: gray;
  }

.user ul li {
    padding: 5px;
}